<!DOCTYPE html>

<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

	<head>
		@{meta}
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

		<!-- BEGIN GLOBAL MANDATORY STYLES -->
        @{css('vendor/bootstrap.min.css')}
        @{css('vendor/bootstrap-responsive.min.css')}
        @{css('vendor/font-awesome.min.css')}
        @{css('vendor/style-metro.css')}
        @{css('vendor/style.css')}
        @{css('vendor/style-responsive.css')}
        @{css('vendor/default.css')}
        @{css('vendor/uniform.default.css')}
		<!-- END GLOBAL MANDATORY STYLES -->

 		@{meta('title', 'description', 'author', 'keywords')}        
        @{head}
        @{favicon('favicon.ico')}
	</head>


	<body @{section('body-class')}>


		@{body}


		<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
		<!-- BEGIN CORE PLUGINS -->
		@{js('vendor/jquery-1.10.1.min.js')}
		@{js('vendor/jquery-migrate-1.2.1.min.js')}
		<!-- IMPORTANT! Load jquery-ui-1.10.1.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
		@{js('vendor/jquery-ui-1.10.1.custom.min.js')}
		@{js('vendor/bootstrap.min.js')}
		<!--[if lt IE 9]>
		@{js('vendor/excanvas.min.js')}
		@{js('vendor/respond.min.js')}
		<![endif]-->   
		@{js('vendor/jquery.slimscroll.min.js')}
		@{js('vendor/jquery.blockui.min.js')}
		@{js('vendor/jquery.cookie.min.js')}
        @{js('vendor/jquery.uniform.min.js')}
        @{js('vendor/bluebird.js')}
		@{js('vendor/server-api.js')}
		<!-- END CORE PLUGINS -->

		@{section('run')}
	</body>

</html>